body {
  font-family: sans-serif;
  margin: 0;
  color: #333;
  background: #fafbfd;
}

form {
  background: white;
  padding: 2rem;
  border: 1px solid #eaedf3;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}

.gig {
  background-color: white;
  border-radius: 2px;
  padding: 2rem;
  border: 1px solid #eaedf3;
  margin: 1rem 0;
}

.price i {
  color: #10c091;
  font-size: 1.5rem;
  margin-right: .25rem;
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}